<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Не получили подтверждения?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Не получили разблокировочных инструкций?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <center>
    <h3>Авторизация через социальные сети</h3>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to omniauth_authorize_path(resource_name, provider) do %>
        <%= fa_stacked_icon "#{OmniAuth::Utils.camelize(provider).downcase}", class: "fa-2x #{OmniAuth::Utils.camelize(provider).downcase}-icon", base: "square-o"  %>
        <% end -%>
    <% end -%>
<% end -%>
