<div class="conditions_of_use">
  <div class="well">
    <div class="scroll">
      <div class="col-md-12">
        <h2>© ФОП Тарасенко Д.В., 2017. Пользовательское соглашение</h2>
        <p>Внимание!!! Перед просмотром этого сайта внимательно прочитайте данные условия. Если вы не согласны с этими условиями, не используйте этот сайт. Использование данного сайта, в том числе заполнение различных форм, заявок, а также заказ Вами товаров/услуг с использованием данного сайта означает Ваше согласие с условиями данного Пользовательского соглашения.</p>
        <p>Термины, употребляемые в данном Пользовательском соглашении:</p>
        <ul>
          <li><b>Администрация</b> – администрация веб-сайт интернет-магазина www.mapapama.com.ua, ФОП Тарасенко Д.В. (код ИНН: 3358702779, местонахождение: 52700, Днепропетровская обл, смт Петропавловка, ул. Брагина, 83).</li>
          <li><b>Сайт</b> – веб-сайт интернет-магазина www.mapapama.com.ua, включая все веб-страницы; собственником интернет-магазина является ФОП Тарасенко Д.В.</li>
          <li><b>Соглашение</b> – данное пользовательское соглашение.</li>
          <li><b>Продавец</b> – юридическое лицо или физическое лицо-предприниматель, которое размещает на Сайте информацию о реализуемых им товарах/услугах. Продавцом может быть как Администрация так и любое другое лицо, которому Администрация Сайта предоставила разрешение на размещение сведений о товара/услугах такого лица. Наименование Продавца указывается в документах на передачу Товара Получателю (акте приёма-передачи либо иных документах, подтверждающих факт передачи Товара Получателю). </li>
          <li><b>Товар</b> – товары, услуги, работы, имущественные права, иные материальные и нематериальные объекты, информация о которых размещена на Сайте. </li>
          <li><b>Пользователь</b> – лицо, просматривающее информацию на Сайте и/или заказывающее и/или получающее Товары с использованием инструментов Сайта. Получатель и Плательщик являются Пользователями. </li>
          <li><b>Заказ</b> – обращение Пользователя через Сайт к Продавцу с просьбой продать Товар, а также совокупность Товаров, заказанных Пользователем.</li>
          <li><b>Плательщик</b> – лицо, оплачивающее Заказ.</li>
          <li><b>Получатель</b> – лицо, указанное Плательщиком в качестве лица, уполномоченного получить Товар согласно Заказа. Если иное не указано в форме Заказа, Получателем является Плательщик. </li>
          <li><b>Предложение</b> – информация, размещённая на Сайте о конкретном Товаре, который может быть приобретён потребителем. Предложение включает в себя: информацию о самом товаре, информацию о его цене, способах оплаты и доставки, а также другие условия приобретения Товара потребителем. Условия Предложения определяются Продавцом. Предложение не является офертой а лишь информацией о возможных условиях приобретения Товара.</li>
        </ul>
        <ol>
          <li>Общие условия использования Сайта         
            <ol>
              <li>Сайт является платформой для размещения предложений о продаже Товаров Продавцами.</li>
              <li>Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению.</li>
              <li>Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу с момента размещения новой версии Соглашения на сайте.</li>
              <li>Предложение на Сайте не является офертой. Однако, Пользователь после ознакомления з Предложением вправе сделать оферту Продавцу (Продавцам) путём заполнения формы Заказа. Заполнение формы Заказа считается офертой Пользователя Продавцу (Продавцам) на приобретение Пользователем соответствующего Товара на условиях, указанных в Предложении.</li>
              <li>Пользователь понимает, что его оферта перенаправляется Администрацией Продавцу, выбранному Администрацией. Данное положение никоим образом не означает, что Администрация действует как агент Продавца и/или принимает на себя какую-либо ответственность за выполнение Заказа Продавцом.</li>
              <li>После получения оферты Пользователя Продавец имеет право предложить приобрести Товар на иных условиях, нежели было предусмотрено офертой Пользователя. В этом случае такое предложение считается встречной офертой и должно быть принято Пользователем. Принятием встречной оферты считается фактическое получение Пользователем (Получателем) Товара на условиях, оговоренных встречной офертой. Продавец имеет право отозвать такую встречную оферту до момента выдачи товара Покупателю. </li>
              <li>Достаточным доказательством принятия оферты Продавцом или встречной оферты (т.е. согласования Сторонами всех существенных условий продажи Товара) является фактическое получение и принятие Товара Получателем.</li>
              <li>Не считается принятием Продавцом Оферты Пользователя направление Продавцом и/или Администрацией средствами электротехнической (sms-информирование, электронная почта, телефон и т.п.) либо иной связи уведомления Продавца/Администрации о получении Заказа Пользователя и/или о сроках его получения и/или о цене Товара. Данное уведомление является исключительно уведомлением о получении Продавцом оферты Пользователя (но не о её принятии) и содержит воспроизведение условий оферты, предоставленной Пользователем.</li>
              <li>Единственным средством возмещения, которое предоставляется Пользователю в случае несоответствия фактических условий продажи оферте, является предоставление Пользователю (Получателю) права отказаться от получения и принятия соответствующего Товара и требовать возврата уплаченной за него стоимости, а также стоимости доставки Товара до пункта выдачи (если данные суммы фактически были оплачены Плательщиком). Получатель имеет право воспользоваться данным правом до момента подписания документов, подтверждающих получение Товара (в т.ч. документов перевозчика о доставке отправления с Товаром Получателю).</li>
              <li>Моментом получения и принятия Товара Получателем является момент (в зависимости от того, какой наступил раньше): - подписания Получателем акта приёма-передачи Товара (или иного равнозначного по смыслу документа, подтверждающего факт передачи Товара Получателю), или - подписания Получателем документов перевозчика, подтверждающих факт получения отправления, содержавшего Товар, или - фактическое получение Получателем Товара и совершение Получателем действий, свидетельствующих о принятии Товара (Получатель получил Товар и покинул пункт выдачи товара и т.п.).</li>
              <li>Информация о Товаре.
                <ol>
                  <li>Информация в Товаре содержится на самом Товаре, его упаковке, в товаросопроводительных документах на Товар. Информация о Товаре также может предоставляться дистанционно (по телефону, путём размещения информации о Товаре на Сайте). Пользователь подтверждает своё согласие на получение информации о Товаре с помощью средств дистанционной связи 095-775-16-86, 068-68-299-19.</li>
                  <li>При получении Товара, до момента подписания документов подтверждающих получение Товара, Получатель обязан ознакомиться с информацией о Товаре, содержащейся на Товаре и/или упаковке и/или в товаросопроводительных документах. В случае необходимости получения дополнительной информации о Товаре Получатель обязан связаться с Продавцом и получить необходимую информацию средствами дистанционной связи до момента принятия Получателем Товара.</li>
                  <li>Цена на Товар, указанная в Предложении, является ориентировочной. Цена на Товар, согласованная Сторонами в соответствии с п. 1.4.-1.7. Соглашения может быть изменены Продавцом до момента выдачи Товара Получателю.</li>
                  <li>В случае изменения цены Товара по сравнению с согласованными Сторонами согласно п. 1.4.-1.7. Соглашения условиями Получатель имеет право отказаться от получения и принятия Товара. При этом, Получатель (Плательщик) имеет право требовать возврата оплаченных за Товар сумм, а также сумм, оплаченных за доставку Товара Получателю. Какие-либо другие компенсации (в т.ч. возмещение убытков, неустойка и прочее) – Продавцом или Администрацией не предоставляются.</li>
                </ol>
              </li>
              <li>Ограничение ответственности.
                <ol>
                  <li>Сайт является платформой для размещения Предложений Продавцами. В связи с этим, Администрация (кроме случаев, когда Администрация является Продавцом) не несёт какой-либо ответственности перед Пользователями (Плательщиками, Получателями) за выполнение Заказа Продавцами и связанные с этим вопросы, в том числе, но не исключительно: за соответствие условий Предложения фактическим условиям продажи Товаров, за отсутствие Товара, за просрочки доставки Товара, за качество Товара, за надлежащее выполнение гарантийных обязательств Продавцами и/или производителями.</li>
                  <li>Указанные в Предложении условия являются предварительными условиями приобретения Товара. Условия Предложения могут изменяться Продавцами, в том числе после принятия Заказа к исполнению. Конкретные условия продажи Товара Продавцами могут определять и изменяться Продавцами до момента передачи Товара Получателю.</li>
                  <li>В случае устаревания материалов (в т.ч. условий Предложения) на Сайте Администрация не обязуется обновлять их. Администрация ни при каких обстоятельствах не несет ответственности за любой ущерб (включая, но не ограничиваясь ущербом от потери прибыли, данных или от прерывания деловой активности), возникший вследствие использования, невозможности использования или результатов использования этого Сайта.</li>
                  <li>Ответственность Продавца за изменения условий приобретения Товара по сравнению с указанными в Предложении ограничивается тем, что Получатель (Пользователь, Плательщик) имеет право отказаться от приобретения Товара и требовать возврата уплаченных за него денежных средств (если они оплачены).</li>
                  <li>В любом случае, сумма убытков (как материальных, так и неимущественных), которые могут быть выплачены Пользователю (Плательщику, Получателю) в связи с нарушением его прав при использовании Сайта (в т.ч. в связи с невыполнением Заказа или его ненадлежащим выполнением, иными нарушениями прав Пользователя) в соответствии со ст. 22 Гражданского кодекса Украины ограничена суммой в десять гривен.</li>
                  <li>На Товары, на которые установлен гарантийный срок, действуют гарантийные обязательства в соответствии с условиями, указанными в гарантийном талоне и/или в информационных материалах производителя. Если в соответствии с законодательством Украины на Товар должен быть установлен гарантийный срок, но он не установлен производителем, гарантийный срок на такой Товар считается равным трём дням.</li>
                </ol>
              </li>
              <li>Пользователь несёт ответственность за достоверность данных, указанных в форме Заказа. В случае, если неточное (неправильное) указание данных в Заказе привело к дополнительным расходам Продавца, связанным с доставкой Товара по неверному адресу или выдачу Товара ненадлежащему Получателю, все связанные с этим убытки и расходы возлагаются на Пользователя. Продавец имеет право удерживать сумму таких убытков или расходов из сумм, уплаченных Плательщиком в качестве оплаты Товара (проводить зачёт встречных требований).</li>
            </ol>
          </li>
          <li>Обязательства Сторон.
            <ol>
              <li>Пользователь обязуется внимательно ознакомиться с данным Соглашением. В случае несогласия с его условиями Пользователь обязуется немедленно прекратить использование Сайта.</li>
              <li>Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие украинское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.</li>
              <li>Использование материалов Сайта без согласия правообладателей не допускается. Для правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий) от Правообладателей.</li>
              <li>При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна.</li>
              <li>Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Украины и общепринятых норм морали и нравственности.</li>
              <li>Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.</li>
              <li>Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.</li>
              <li>Пользователь понимает, что Продавцы являются отдельными субъектами хозяйствования, не подконтрольными Администрации. Пользователь осознаёт, что Администрация не имеет каких-либо полномочий относительно влияния на исполнение Продавцами своих обязательств относительно принятия и/или исполнения Заказа, а также обязательств, возникающих после продажи Товара.</li>
            </ol>
          </li>
          <li>Порядок обмена и возврата Товара Получателем (Пользователем, Плательщиком).
            <ol>
              <li>Обмен и возврат Товара (в том числе, при расторжении договора купли-продажи), в порядке Закона Украины «О защите прав потребителей».</li>
              <li>При получении Товара по почте, возврат такого Товара (в том числе, при расторжении договора купли-продажи), осуществляется почтой, по следующему адресу отправителя.</li>
              <li>При обмене и возврате, Товар следует отправить в полной комплектации, приложив к нему также следующие документы:
                <ol>
                  <li>Заявление на обмен либо возврат денежных средств, с указанием причин;</li>
                  <li>Акт приема передачи (Сборочный лист);</li>
                  <li>Гарантийный талон.</li>
                </ol>
              </li>
            </ol>
          </li>
          <li>Персональные данные:
            <ol>
              <li>Оформляя Заказ на Cайте www.mapapama.com.ua и/или проставляя галочку в соответствующем поле на сайте www.mapapama.com.ua перед заполнением своих персональных данных Пользователь дает свое согласие Администрации на сбор и обработку (накопление, хранение, адаптирование, возобновление, использование, распространение, обезличивание и уничтожение) указанных им данных, а именно: фамилия, имя, отчество; электронная почта; телефон; адрес; дата и место рождения; идентификационный номер; гражданство; наличие льгот; сведения о регистрации в качестве физического лица-предпринимателя; сведения о браке; сведения о доходах и расходах; номер телефона; место работы и должность; стаж работы; дата и причины увольнения с предыдущих мест работы; сведения о получении пенсий; семейное положение; имущественное положение (наличие недвижимого и / или движимого имущества); место фактического проживания; место жительства по государственной регистрации; данные паспорта (номер, серия, кем и когда выдан); данные о детях, в том числе усыновленных; другие данные, с целью обеспечения реализации отношений купли-продажи, отношений в сфере защиты прав потребителей, в сфере рекламы и маркетинговых исследований, а также дает свое согласие на передачу (распространение) его данных ООО «НОВАЯ ПОЧТА» (ЕГРПОУ 31316718), другим транспортно-экспедиторским и курьерским организациям, любым Банкам и/или финансовым учреждениям, и иным третьим лицам (без ограничения) на усмотрение ФОП Тарасенко Д.В. Данное положение действует без ограничения срока действия.</li>
              <li>Источником сбора персональных данных является информация, непосредственно и добровольно предоставленная Пользователем.</li>
              <li>Владельцем предоставленных Пользователем персональных данных является ФОП Тарасенко Д.В., местонахождение: 52700, Днепропетровская обл, смт Петропавловка, ул. Брагина, 83. База персональных данных «Клиенты» находится по адресу ФОП Тарасенко Д.В.: 52700, Днепропетровская обл, смт Петропавловка, ул. Брагина, 83.</li>
              <li>Субъект персональных данных, в соответствии с Законом Украины «О защите персональных данных», имеет право: знать об источниках сбора, местонахождения своих персональных данных, цель их обработки, местонахождения или местожительство (пребывание) владельца или распорядителя персональных данных или дать соответствующее поручение относительно получения этой информации уполномоченным им лицам, кроме случаев, установленных законом; получать информацию об условиях предоставления доступа к персональным данным, в частности информацию о третьих лицах, которым передаются его персональные данные; на доступ к своим персональным данным; получать не позднее, чем за тридцать календарных дней со дня поступления запроса, кроме случаев, предусмотренных законом, ответ о том, обрабатываются ли его персональные данные, а также получать содержание таких персональных данных; предъявлять мотивируемое требование владельцу персональных данных с возражением против обработки своих персональных данных; предъявлять мотивируемое требование относительно изменения или уничтожения своих персональных данных любым владельцем и распорядителем персональных данных, если эти данные обрабатываются незаконно или являются недостоверными; на защиту своих персональных данных от незаконной обработки и случайной потери, уничтожения, повреждения в связи с преднамеренным скрытием, непредоставлением или несвоевременным их предоставлением, а также на защиту от предоставления сведений, которые являются недостоверными или позорят честь, достоинство и деловую репутацию физического лица; обращаться с жалобами на обработку своих персональных данных к Уполномоченному или в суд; применять средства правовой защиты в случае нарушения законодательства о защите персональных данных; вносить предостережение относительно ограничения права на обработку своих персональных данных во время предоставления согласия; отозвать согласие на обработку персональных данных; знать механизм автоматической обработки персональных данных; на защиту от автоматизированного решения, которое имеет для него правовые последствия.</li>
            </ol>            
          </li>
          <li>Прочие условия:
            <ol>
              <li>Пользователь имеет право назначить Получателем приобретаемого Товара третье лицо. В этом случае Получатель обязан указать в форме Заказа данные, необходимые для идентификации Получателя и доставки ему Товара. На отношения сторон, в таком случае, распространяются положения ст. 636 Гражданского кодекса Украины. </li>
              <li>Для выдачи Товара Получателю последний обязан предъявить при получении Товара документ, удостоверяющий личность (паспорт).</li>
              <li>При получении Товара Получатель обязан расписаться в документах, подтверждающих получение Товара.</li>
              <li>Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Украины.</li>
              <li>Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением. </li>
              <li>Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.</li>
              <li>Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта. Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.</li>
            </ol>            
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
