<% if order.errors.any? %>
  <div id="error_explanation" class='alert alert-danger message'>
    <h2 class='text-danger'>
      <%= fa_icon 'warning', text: "#{ pluralize(order.errors.count, "error") } prohibited this order from being saved:" %>
    </h2>
    <ol>
    <% order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ol>
  </div>
<% end %>
