<div class="modal fade" id="mistExpress" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 align='center' class="modal-title" id="exampleModalLabel">Мист Експресс</h2>
      </div>
      <div class="modal-body">
        <center>
          <%= image_tag 'mist_logo.png', width: '300px', height: '120px' %>
        </center>
        <p>
          При доставке до склада транспортной компании, заказ хранится на складе не более 5 рабочих дней, после чего отправляется обратно! Получить заказ может только человек, указанный в транспортной декларации как получатель. При себе необходимо обязательно иметь удостоверение личности! 
        </p>
        <p>
          Заказы с доставкой через Мист Экспресс принимаются согласно графику работы перевозчика. График работы компании «Мист Экспресс» вы можете найти на официальном сайте компании. Так же вы имеете возможность отследить собственный заказ с помощью специального сервиса «Мист Экспресс».
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
