<div class="modal fade" id="newPost" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 align='center' class="modal-title" id="exampleModalLabel">Новая почта</h2>
      </div>
      <div class="modal-body">
        <center>
          <%= image_tag 'new_post_logo.png', width: '300px', height: '120px' %>
        </center>
        <p>При доставке до склада транспортной компании заказ хранится на пункте выдачи не более 5 рабочих дней, после чего отправляется обратно! Получить заказ может только человек, который указан в транспортной декларации как получатель.</p>
        <p>При себе необходимо обязательно иметь удостоверение личности! Заказы с доставкой через «Нову пошту» принимаются согласно графику работы перевозчика. График работы компании «Нова пошта» Вы можете найти <a href="https://novaposhta.ua/timetable" target='_blank'>на официальном сайте компании</a>. Также Вы можете отследить заказ с помощью <a href="https://novaposhta.ua/ru/tracking" target='_blank'>специального сервиса на сайте компании</a>.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
