<div class="col-md-8 col-md-offset-2 col-xs-12 description">
  <center>
    <%= cl_image_tag("мапапама_nb3pbw.png", :quality=>15, :height=>150, :crop=>"scale") %>
  </center>
  <p>
    <b>Mapapama.com.ua</b> – это не просто название. В корне этого названия находятся два самых важных для ребенка слова – мама и папа! Эти люди дарят своим детям любовь, счастье и радость.
  </p>
  <p>
    Мы создали интернет-магазин «Мапапама» для того, чтобы дарить радость. Когда улыбается ребенок – это приносит радость и нам.
  </p>
  <p>
    Мы собрали разнообразный товар в большом ассортименте. Не забыли про качество и доступность цены.  Мы хотим, чтобы Вам было удобно на одном сайте найти все, что нужно  для радости ребенка.
  </p>
  <p>
    Наши клиенты выбирают товар и для себя. Все мы дети не смотря ни на какой возраст.
    Да, мы только открылись. Но! 
  </p>
  <p>
  </p>
  <ul>
    <li>мы предлагаем лучший ассортимент;</li>
    <li>мы постоянно ищем качественную продукцию;</li>
    <li>мы сделали для Вас доступные цены;</li>
    <li>мы готовы подстроится под клиента;</li>
    <li>мы поможем в выборе нужного товара;</li>
  </ul>
  <p>
    Да, мы развиваемся и постоянно учимся. И мы открыты для Ваших предложений, замечаний и пожеланий. Мы стараемся каждый день стать удобнее для Вас.
  </p>
  <p>
    Да что тут словами описывать! 
    Скажите, чего хотите Вы! И мы превзойдем Ваши ожидания:)
  </p>
</div>
