<h1>Партнёрам</h1>
<div class="col-md-8 col-md-offset-2 col-xs-12 description">
	<p>
  	<b>Интернет-магазин "Mapapama.com.ua":</b>
  	<br>
  	25 000 позиций детских товаров: игрушки, для школы и творчества, одежда и обувь, гигиена и уход, для спорта и отдыха, мебель для детской и детские коляски. И еще куча всего!! Доставка по всей Украине!
	</p>
</div>
