<h1>ОПЛАТА</h1>
<div class="container">
  <div class="row col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md 12">
        <div class="row">
          <div class="col-md-10 col-xs-9">
            <p class='delivery'>
              Мы совсем молодые и развиваемся: для Вас мы сделаем все возможные способы оплаты. На сегодня на Ваш выбор предлагаем три способа оплаты:
            </p>
          </div>
          <div class="col-md-2 col-xs-3">
            <%=image_tag 'pay.png', width: '100px', height: '100px', crop: "scale" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <ul class='delivery'>
              <li class='way_item'>
                <p class='way'>СПОСОБ 1:</p>
                <ul>
                  <li>по факту заказа товара Вы оплачиваете полную стоимость заказа на нашу карту ПАТ «ПриватБанка»: <b class='text-success'>5169 3305 0985 3641</b>, ФОП Тарасенко Д.В. (в назначении платежа указать № заказа);</li>
                  <li>по подтверждении оплаты наши менеджеры отправляют Ваш заказ выбранным Вами способом доставки;</li>
                  <li>при получении товара через службу доставки Вы оплачиваете услуги доставки.</li>
                </ul>
              </li>
              <li class='way_item'>
                <p></p>
                <p class='way'>СПОСОБ 2:</p>
                <ul>
                  <li>по факту заказа товара Вы оплачиваете 26% стоимости заказа на нашу карту ПАТ «ПриватБанка»: <b class='text-success'>5169 3305 0985 3641</b>, ФОП Тарасенко Д.В. (в назначении платежа указать № заказа);</li>
                  <li>по подтверждении оплаты наши менеджеры отправляют Ваш заказ выбранным Вами способом доставки;</li>
                  <li>при получении товара через службу доставки Вы оплачиваете услуги доставки + 74% стоимости заказа наложенным платежом + % с наложенного платежа службе доставки + доставка наложенного платежа.</li>
                  <p><b class='text-danger'>ВАЖНО!</b> Дополнительные траты (на оплату наложенного платежа и/или доставку) мы всегда будем оповещать Вам по факту отправки заказа в службе доставки. Вы будете проинформированы: сколько помимо стоимости заказа Вам обойдется доставка.</p>
                  <p>В планах развития мы рассмотрим возможность бесплатной доставки либо компенсации ее стоимости, а так же другие способы оплаты.</p>
                </ul>
              </li>
              <li class='way_item'>
                <p class='way'>СПОСОБ 3:</p>
                <p>Удобным для Вас способом при самовывозе.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
