<center>
  <%= cl_image_tag('мапапама_nb3pbw.png', quality: 15, height: 100, crop: 'scale') %>
  <br>
  <%= image_tag '404.png', height: '120px', crop: 'scale' %>
  <h2>
    <%= t("page_404.sorry") %>
    <a onclick="javascript:history.back(); return false;"><%= t("page_404.come_back") %></a>
  </h2>
</center>
