<% subcategories.each do |subc| %>
  <% if subc.parent_subcategory_id.blank? %>
    <li><%= subc.name %></li>
  <% end %>
  <% subc.subsubcategories.each do |subsubc| %>
	<li class='subsubc'><i><%= subsubc.name %></i></li>
  <% end %>
<% end %>
