<% subcategories.each do |subc| %>
  <% if subc.parent_subcategory_id.blank? %>
    <li><%= link_to subc.name, category_subcategory_path(subc.parent, subc), target: '_blank', class: 'subbcategories-list' %></li>
  <% end %>
  <% subc.subsubcategories.each do |subsubc| %>
    <li class='subsubc'><i><%= subsubc.name %></i></li>
  <% end %>
<% end %>
