<h1>Категории</h1>
<div class="row">
  <%= render 'form' %>
</div>
<div class="row">
  <div class="col-md-8 col-xs-12">
    <br>
    <% @categories.each do |category| %>
      <% if category.parent_category_id.blank? %>
        <p><%= category.name %></p>
        <p><%= link_to 'Изменить', edit_admin_category_path(category) %></p>
      <% end %>
      <%= render partial: 'subcategory', locals: {subcategories: category.subcategories} if category.subcategories.present? %>
    <% end %>
  </div>
</div>
