/*
  *= require jquery-ui
  *= require_tree .
  *= require_self
  *= require font-awesome
  *= require trix
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-share-button";
@import "uikit";
@import 'carousel_product_show';
@import 'session_form';

.facebook-icon{
  color: #4267b2;
}
.instagram-icon{
  color: #da4668;
}
.upload_avatar{
  height: 50px;
  width: 50px;
}
.tagline{
  margin-top: 35px;
}
.phone-numbers{
  margin-top: 15px;
}
@media (max-width: 768px){
  .phone-numbers{
    margin-top: 0px;
  }
}
@media (max-width: 768px){
  .tagline{
    margin-top: 0px;
  }
}
.login-reg-menu{
  margin-top: 15px;
}
.input-product{
  width: 175px;
}
.sex-boys{
  color: blue;
}
.sex-girls{
  color: #e8556f;
}
.square{
  width: 20px;
  height: 20px;
  border-style: double;
}
.white-square{
  background-color: white;
}
.black-square{
  background-color: black;
}
.red-square{
  background-color: red;
}
.yellow-square{
  background-color: yellow;
}
.green-square{
  background-color: green;
}
.blue-square{
  background-color: blue;
}
.violet-square{
  background-color: purple;
}
.comment-success-alert{
  display: none;
}
.profile-avatar{
  width: 200px;
  height: 200px;
}
@media (max-width: 768px){
  .profile-avatar{
    width: 100px;
    height: 100px;
  }
}
.header-avatar{
  width: 30px;
  height: 30px;
}
.change-password{
  display: none;
}
.admin-logo{
  margin-top: -10px;
}
.subsubc{
  margin-left: 10px;
}
@media (max-width: 768px){
  .leuze{
    height: 50px;
  }
  .mapapama_logo{
    height: 48px;
  }
}
.preview{
  width: 200px;
  height: 200px;
}

.hide-bullets {
  list-style:none;
  margin-left: -40px;
  margin-top:20px;
}

.thumbnail {
  padding: 0;
}
.main-picture-product{
  height: 100px;
}
.info-about-product{
  display: none;
} 
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media (max-width: 768px){
  .description-item{
    display: none;
  }
}
@media (min-width: 768px){
  .count-item-mobile{
    display: none;
  }
}
@media (max-width: 768px){
  .count-item{
    display: none;
  }
}
@media screen and (max-width: 600px) {
  table#cart tbody td .form-control{
    width:20%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }
  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }
  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }
  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}
}
.btn span.glyphicon {         
  opacity: 0;       
}
.btn.active span.glyphicon {        
  opacity: 1;       
}
.btn-black{
  background-color: black;
  color: white;
}
.btn-violet{
  background-color: purple;
  color: white;
}
.thumb-contenido{
  margin-bottom: 1%;
  margin-left: 0px;
  padding-left: 0px;
}
.useful_articles_image_index{
  width: 50px;
  height: 50px;
  margin: 15px;
}
.cart_sidebar{
  display: none;
}
.category-lists{}


.product_view_class {
  border: 1px solid transparent;
  text-align: center;
  border-left: 1px solid #ebedee;
  min-height: 286px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  a {
    display: block;
    color: #666;
  }
  @media (min-width: 768px){
    .buttom_add_to_cart {
      display: none;
      border: none;
      background: #ff3801;
      border-radius: 5px;
      color: #FFF;
      padding: 5px;
      box-sizing: border-box;
      margin-top: 10px;
      width: 50%;
      // font-family: "SF Pro Text",sans-serif;
      font-size: 14px;
      min-height: 42px;
    }
  }
  a:hover {
    text-decoration: none;
    color: #666;
  }
  a:focus {
    color: #666;
  }
  form.button_to {
    min-height: 52px;
  }
}
.product_view_class:hover {
  border: 1px solid #ebedee;
  box-shadow: 10px 10px 5px #888888;
  .buttom_add_to_cart {
    display: initial;
  }
}
.item-category{
  height: 350px;
}
.image-product-category-index{
  height: 160px;
  width: 150px;
}
.badge {
  background-color: #4CAF50;
}
@media (max-width: 768px){
  .buttom_add_to_cart {
    display: initial;
    background: #ff3801;
    border-radius: 5px;
    color: #FFF;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    width: 50%;
    // font-family: "SF Pro Text",sans-serif;
    font-size: 14px;
    min-height: 42px;
  }
}
@media (min-width: 768px){
  .carousel-share > .item > img, .carousel-share > .item > a > img{
    width: 100%;
    height: 480px;
  }
}
.article_products{
  width: 83%;
}
.subcategories{
  display: none;
}
.subcategory_name{
  margin-left: 15px;
}
.subcat{
  display: none;
}
