@import 'products';

.cd-top {
  @extend a.top_nav_button;
  height: 40px;
  width: 40px;    
  text-align: center;
  vertical-align: middle;
  line-height: 31px;

  position: fixed;
  bottom: 40px;
  right: 10px;

  background: red;

  visibility: hidden;
  opacity: 0;

  &.cd-is-visible {
    visibility: visible;
    opacity: 1;
  }

  &.cd-fade-out {
    opacity: .5;
  }

  &:hover {
    background-color: orange;
    opacity: 1;
  }
}
