// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my_cart {
  width: 100%;
  display: block;
  overflow: hidden;
  text-align: center;
  ul {
    list-style-type: none;
  }
}