footer{
  ul {
      display: block
  }
  nav ul,
  ul {
      list-style: none
  }
  li {
      list-style-type: none
  }
}
body,
html {
    height: 100%
}
.footer__subscribe .button:before,
.to-favourite:before {
    background: url(../img/ico-s61a230b333.png) 0 0 no-repeat
}
.news:after {
    content: "";
    display: block;
    height: 0;
    clear: both
}
.calendar .months:after,
.footer-bottom .footer__columns-wrap:after,
.footer-bottom .footer__subscribe-wrap:after,
.footer-bottom .layout:after,
.footer__subscribe .button:after,
.sizes-list__item:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%
}
a {
    color: #333;
    text-decoration: none
}
a:hover {
    color: #ff3801
}
.footer__subscribe .button {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: none;
    line-height: 1;
    white-space: nowrap;
    outline: none;
    text-align: center;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 5px
}
.footer__subscribe .button span,
.header__callback span,
.leave-comment span,
.news .button span,
.personal-panel .button span,
.product__controls .button span {
    vertical-align: middle;
    display: inline-block
}
.footer__subscribe .button:disabled,
.header__callback:disabled,
.leave-comment:disabled,
.news .button:disabled,
.personal-panel .button:disabled,
.product__controls .button:disabled {
    cursor: not-allowed;
    pointer-events: all!important
}
.input,
.text-area {
    height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    padding: 0 15px;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 5px
}
.input:focus::-webkit-input-placeholder,
.text-area:focus::-webkit-input-placeholder {
    color: transparent
}
.input:focus:-ms-input-placeholder,
.text-area:focus:-ms-input-placeholder {
    color: transparent
}
.input:focus::-moz-placeholder,
.text-area:focus::-moz-placeholder {
    color: transparent
}
.input:focus.placeholder,
.text-area:focus.placeholder {
    color: transparent
}
.invalid .text-area,
.invalid .textarea,
.invalid>.input {
    border-color: #da4112;
    -webkit-box-shadow: 0 0 0 1px #da4112;
    box-shadow: 0 0 0 1px #da4112
}
.invalid .custom-select__value-wrap {
    border-color: #da4112!important;
    -webkit-box-shadow: 0 0 0 1px #da4112!important;
    box-shadow: 0 0 0 1px #da4112!important
}
.product__item {
    position: relative;
    padding: 0 20px
}
.product__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
    bottom: -90px;
    border: 1px solid #ebedee;
    opacity: 0;
    visibility: hidden;
    width: auto;
    background-color: #fff
}
.product__with-size.product__item:before {
    bottom: -153px
}
.active.product__item {
    z-index: 2
}
.active.product__item .product__controls,
.active.product__item:before {
    opacity: 1;
    visibility: visible
}
.active.product__item .product__link {
    pointer-events: auto
}
.active.product__item .product__link.new:before {
    background-color: #89c238;
    color: #fff
}
.active.product__item .product__link.hit:before {
    background-color: #771e9c;
    color: #fff
}
.active.product__item .product__link.sale:before {
    background-color: #ff3801;
    color: #fff
}
body {
    font-size: 0;
    color: #333;
    background-color: #fff;
    line-height: 1
}
body,
button,
input,
select,
textarea {
    font-family: SF Pro Text, sans-serif
}
button,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    font-size: 100%
}
input.placeholder,
input:-ms-input-placeholder,
input::-moz-placeholder,
input::-webkit-input-placeholder {
    color: #ccc
}
button,
input,
select,
textarea {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    background: none;
    font-size: 0;
    text-transform: none
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    margin: 0
}
input:-webkit-autofill {
    color: transparent!important;
    background-color: transparent!important;
    -webkit-box-shadow: none;
    box-shadow: none
}
input:invalid,
input:valid {
    -webkit-box-shadow: none;
    box-shadow: none
}
input::-webkit-calendar-picker-indicator {
    display: none
}
input::-ms-clear {
    display: none
}
.site-wrap.checkout .main-wrap {
    padding-bottom: 0
}
@media (min-width: 640px) {
    .site-wrap.checkout .main-wrap {
        padding: 0
    }
}
@media (min-width: 750px) {
    .site-wrap.checkout .main-wrap {
        padding: 0
    }
}
@media (min-width: 1110px) {
    .site-wrap.checkout .main-wrap {
        top: 158px;
        padding: 0
    }
}
.main-wrap {
    position: relative;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 0 480px;
    overflow: hidden
}
@media (min-width: 640px) {
    .main-wrap {
        top: 140px;
        padding: 0 0 312px
    }
}
@media (min-width: 750px) {
    .main-wrap {
        top: 90px;
        padding: 0 0 362px
    }
}
@media (min-width: 1110px) {
    .main-wrap {
        top: 220px;
        padding: 0 0 382px
    }
}
.footer__columns-wrap,
.footer__subscribe-wrap,
.layout {
    max-width: 1600px;
    margin: auto;
    padding: 0 20px
}
@media (min-width: 1110px) {
    .footer__columns-wrap,
    .footer__subscribe-wrap,
    .layout {
        padding: 0 40px
    }
}
@media (min-width: 1110px) {
    .menu__item {
        display: inline-block;
        vertical-align: top;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }
    .menu__item .menu__inner {
        clip: rect(0, 0, 0, 0);
        -webkit-animation: c .3s;
        animation: c .3s
    }
    .menu__item .menu__inner .footer__columns-wrap,
    .menu__item .menu__inner .footer__subscribe-wrap,
    .menu__item .menu__inner .layout {
        padding: 0 50px
    }
    .menu__item.active label a {
        color: #ff3801
    }
    .menu__item.active label:before {
        content: "";
        height: 2px;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: auto;
        background: #ff3801
    }
    .menu__item.active .menu__inner {
        clip: auto;
        -webkit-animation: d .3s;
        animation: d .3s
    }
}
@media (min-width: 1110px) {
    .menu__inner .footer__columns-wrap,
    .menu__inner .footer__subscribe-wrap,
    .menu__inner .layout {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: left;
        -ms-flex-align: left;
        align-items: left;
        padding: 0 20px
    }
}
@media (min-width: 1110px) {
    .menu__inner .footer__columns-wrap .menu__inner-column,
    .menu__inner .footer__subscribe-wrap .menu__inner-column,
    .menu__inner .layout .menu__inner-column {
        display: inline-block;
        vertical-align: top;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }
}
.footer {
  height: 600px;
  background-color: #f5f6f6;
  bottom: 0;
  left: 0;
  right: 0
}
@media (min-width: 640px) {
    .footer {
        height: 312px;
        border-top: 3px solid #ff3801;
        padding: 36px 0 0;
        background-color: #fff
    }
}
@media (min-width: 750px) {
    .footer {
        height: 362px
    }
}
@media (min-width: 1110px) {
    .footer {
        height: 382px
    }
}
@media (min-width: 640px) {
    .footer-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}
@media (min-width: 640px) {
    .footer__subscribe-wrap {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        position: relative;
        margin: 0;
        padding: 0 20px 0 0
    }
}
@media (min-width: 750px) {
    .footer__subscribe-wrap {
        width: 220px
    }
}
@media (min-width: 1110px) {
    .footer__subscribe-wrap {
        padding: 0;
        width: 260px
    }
}
.footer__subscribe-wrap .header__phone {
    display: none
}
@media (min-width: 640px) {
    .footer__subscribe-wrap .header__phone {
        display: block;
        width: auto;
        font-family: SF Pro Text, sans-serif;
        font-weight: 400;
        padding: 0;
        margin: 0 0 8px;
        height: auto
    }
}
@media (min-width: 1110px) {
    .footer__subscribe-wrap .header__phone {
        position: static;
        top: auto;
        left: auto;
        z-index: auto
    }
}
@media (min-width: 640px) {
    .footer__subscribe-wrap .header__phone a {
        font-size: 14px
    }
}
.footer__subscribe-wrap .header__callback {
    display: none
}
@media (min-width: 640px) {
    .footer__subscribe-wrap .header__callback {
        display: block;
        background-color: transparent;
        color: #89c238;
        text-decoration: underline;
        width: auto;
        text-align: left;
        height: auto
    }
}
@media (min-width: 1110px) {
    .footer__subscribe-wrap .header__callback {
        position: static;
        left: auto;
        height: auto;
        margin: 0;
        padding: 0
    }
}
@media (min-width: 640px) {
    .footer__subscribe-wrap .header__callback span {
        font-size: 12px;
        text-decoration: underline
    }
}
.footer__subscribe {
    padding: 16px 0 17px;
    position: relative
}
@media (min-width: 640px) {
    .footer__subscribe {
        padding: 0 0 75px
    }
}
.footer__subscribe .button {
    background: #ff3801;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 17px;
    text-align: center;
    border-radius: 0 5px 5px 0
}
.footer__subscribe .button:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-position: 0 -269px;
    height: 16px;
    width: 21px
}
@media (min-width: 640px) {
    .footer__subscribe .button {
        top: 0;
        bottom: auto;
        height: 36px;
        width: 40px;
        border-radius: 0 18px 18px 0
    }
}
.footer__subscribe label {
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin: 0 0 11px
}
@media (min-width: 640px) {
    .footer__subscribe label {
        position: absolute;
        top: 52px
    }
}
.footer__subscribe input {
    font-size: 16px;
    font-weight: 400;
    padding: 0 45px 0 15px;
    border: none
}
@media (min-width: 640px) {
    .footer__subscribe input {
        height: 36px;
        border: 1px solid #bdc3c7;
        border-radius: 18px;
        margin: 0
    }
}
.footer__layout {
    border-top: 3px solid #ff3801;
    padding: 29px 0 0
}
@media (min-width: 640px) {
    .footer__layout {
        position: relative;
        border: none;
        width: 65%;
        padding: 0
    }
}
@media (min-width: 750px) {
    .footer__layout {
        width: 73%
    }
}
@media (min-width: 640px) {
    .footer__columns-wrap {
        position: relative
    }
}
@media (min-width: 1110px) {
    .footer__columns-wrap {
        padding: 0
    }
}
.footer__columns {
    white-space: nowrap;
    margin: 0 -13px -11px
}
@media (min-width: 640px) {
    .footer__columns {
        position: absolute;
        right: 0;
        width: 50%;
        top: -11px;
        white-space: normal
    }
}
@media (min-width: 750px) {
    .footer__columns {
        width: 68%;
        left: 36%;
        right: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
}
.footer-list {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 13px
}
@media (min-width: 640px) {
    .footer-list {
        width: auto
    }
}
@media (min-width: 750px) {
    .footer-list {
        width: 50%
    }
}
@media (min-width: 640px) {
    .footer-list:first-child {
        display: none
    }
}
@media (min-width: 750px) {
    .footer-list:first-child {
        display: inline-block
    }
}
.footer-list__item {
    margin: 0 0 17px
}
.footer-list__item.trand {
    margin-top: 47px
}
.footer-list__item a {
    font-size: 14px;
    font-weight: 400
}
.footer-copyright {
    font-size: 13px;
    font-weight: 400;
    margin: 0 0 7px
}
@media (min-width: 640px) {
    .footer-copyright {
        padding: 7px 0 0;
        width: 57%
    }
}
@media (min-width: 750px) {
    .footer-copyright {
        width: 34%
    }
}
.footer-copyright span {
    display: block
}
@media (min-width: 640px) {
    .footer-copyright span {
        font-size: 18px;
        margin: 0 0 18px
    }
}
.footer-copyright span span {
    font-size: 13px
}
.footer-text {
    font-size: 12px;
    font-weight: 400
}
@media (min-width: 640px) {
    .footer-text {
        width: 57%
    }
}
@media (min-width: 750px) {
    .footer-text {
        width: 34%
    }
}
.footer-social {
    margin: 0 0 16px
}
@media (min-width: 640px) {
  .footer-social {
      position: absolute;
      top: 133px
  }
}
.footer-bottom {
    display: none
}
@media (min-width: 750px) {
    .footer-bottom .footer__columns-wrap,
    .footer-bottom .footer__subscribe-wrap,
    .footer-bottom .layout {
        height: 100%
    }
}
@media (min-width: 1110px) {
    .footer-bottom .footer__columns-wrap,
    .footer-bottom .footer__subscribe-wrap,
    .footer-bottom .layout {
        position: relative
    }
}
@media (min-width: 640px) {
    .footer-bottom {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0
    }
}
@media (min-width: 750px) {
    .footer-bottom {
        border-top: 1px solid #ebedee;
        height: 100px;
        bottom: 0
    }
}
.footer-bottom span {
    display: inline-block;
    vertical-align: middle;
    width: 73%;
    margin: 0 26px 0 0
}
.footer-bottom a,
.footer-bottom span {
    font-size: 13px;
    font-weight: 400
}
.footer-bottom>a {
    display: none
}
@media (min-width: 750px) {
    .footer-bottom>a {
        display: inline-block;
        vertical-align: middle;
        width: 220px;
        position: absolute;
        right: 0;
        line-height: 60px
    }
}
@media (min-width: 1110px) {
    .footer-bottom>a {
        right: 40px;
        width: 260px
    }
}
@media (min-width: 1110px) {
    .footer-wrap {
        max-width: 1600px;
        margin: auto;
        padding: 0 40px
    }
}
