.delivery{
  font-size: 20px;
}
.description{
  font-size: 20px;
}
.new_post_logo{
  width: 200px;
  margin-top: 55px;
}
.logo-post{
  border: 1px;
  width: 200px;
  height: 200px;
  text-align: center;
  border: 1px solid #dee7ec;
  border-bottom: 1px solid #dee7ec;
}
li, p {
  text-align: justify;
}
.way_item{
  list-style-type: none;
}
.way{
  color: #f43612;
}
.conditions_of_use{
  div.scroll {
    width: 100%;
    height: 400px;
    overflow: scroll;
  }
  ol {
    list-style: none; 
    counter-reset: li;
    padding-left: 20px;
  }
  ol li:before {
    counter-increment: li; 
    content: counters(li,".") ". "; 
  }
}
