.delivery{
  font-size: 20px;
}
.new_post_logo{
  width: 200px;
  margin-top: 55px;
}
.logo-post{
  border: 1px;
  width: 200px;
  height: 200px;
  text-align: center;
  border: 1px solid #dee7ec;
  border-bottom: 1px solid #dee7ec;
}
p {
  text-align: justify;
}