.goods {
  background-color: #F76F87;
  text-align: center;
}

.goods_title {
  font-size: 2em;
  line-height: 2em;
}

.goods_col {
  height: 180px;
  overflow: hidden;
}

.goods_col.image {
  vertical-align: middle;
  line-height: 180px;
}

.goods_col.right p  {
  // line-height: 20px;
}

.goods .row {

}

.container-fluid {
  overflow: hidden;
}

.top_container {
  min-height: 120px;
}

.top_container_left {
  // background: yellow;
  height: inherit;
  line-height: 100px;
  text-align: center;
  .row {
    padding: 10px;
  }
}

@media all and (min-width: 1199px) and (max-width: 1600px) {
  body .top_container_left .col-lg-8 img {
    width: 110%;
  }
}

.top_container_center {
  // background: red;
  height: inherit;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 35px;
  text-align: center;

  .row {
    padding: 10px;
  }
}

.top_container_right {
  // background: blue;
  height: inherit;
  .row {
    padding: 10px;
  }
}

.nav.top_buttons_menu {
  width: 100%;
  padding: 0 4%;
  .top_buttons_menu_button {
    width: 9%;
  }
}

.product_form_column {
  input {
    float: right;
  }
}
body {
  h1 {
    line-height: 2;
    text-align: center;
  }
  article, .mobile {
    // background-color: gray;
    min-height: 100px;
    width: 83%;
    float: right;
    .carousel.slide.multi-item-carousel {
      // background: black;
      .col-sm-3.col-xs-3:nth-child(1) {
        margin-left: 2%;
        border-left: 1px solid transparent;
      }
      .product_view_class {
        border: 1px solid transparent;
        text-align: center;
        border-left: 1px solid #ebedee;
        min-height: 286px;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 16px;
        width: 24%;
        a {
          display: block;
          color: #fff;
        }
        .buttom_add_to_cart {
          display: none;
          border: none;
          background: #ff3801;
          border-radius: 5px;
          color: #FFF;
          padding: 5px;
          box-sizing: border-box;
          margin-top: 10px;
          width: 50%;
          font-family: "SF Pro Text",sans-serif;
          font-size: 14px;
        }
        a:hover {
          text-decoration: none;
          color: #666;
        }
        a:focus {
          color: #666;
        }
      }
      .col-sm-3.col-xs-3 {
        width: 24%;
      }
      .col-sm-12.col-xs-12 {    
        width: 90%;
        margin-left: 2%;
      }
      .col-sm-3.col-xs-3:hover, .col-sm-12.col-xs-12:hover {
        .button_to .buttom_add_to_cart {
          display: initial;
        }
        border: 1px solid #ebedee;
        box-shadow: 10px 10px 5px #888888;
      }

      .carousel-control {
        width: 5%;
      }
      .carousel-control.left, .carousel-control.right {
        background-image: none;
        color: #259433;
        background: none;
        a:hover {
          background: none;
        }
      }
    }
    .all_products_div {
      @extend .carousel.slide.multi-item-carousel;
    }
  }

  aside {
    border-right: 1px solid #ebedee;
    // background-color: yellow;
    min-height: 100px;
    width: 17%;
    float: left;
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
  }
}

@font-face {
  font-family: "SF Pro Text";
  src: url(/assets/SF_Pro_Text.ttf) format("truetype");
}

.product_common_text {
  font-family: "SF Pro Text",sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
  min-height: 21px;
}


.product_title_text {
  @extend .product_common_text;
  font-size: 16px;
  color: #ff3801;
  line-height: 2.5;
}

.product_price_text {
  @extend .product_common_text;
}

.product_quantity_text {
  @extend .product_common_text;
}

.product_code_text {
  @extend .product_common_text;
}

.top_nav {
  text-align: center;
}

a.top_nav_button {
  border: none;
  background: #ff3801;
  border-radius: 5px;
  color: #FFF;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  width: 9%;
  font-family: "SF Pro Text",sans-serif;
  font-size: 14px;
  display: inline-block;
  height: 30px;
  vertical-align: bottom;
}

a.top_nav_button:visited {
  color: #FFF;
}

a.top_nav_button:hover {
  text-decoration: none;
  color: #fff;
}

@media all and (min-width: 992px) and (max-width: 1600px) {
  a.top_nav_button {
    width: 9%;
  }
  // .top_nav {
  //   position: fixed;
  //   top: 0px;
  //   width: 100%;
  // }
  .mobile {
    display: none;
  }
}


@media all and (min-width: 768px) and (max-width: 991px) {
  a.top_nav_button {
    width: 19%;
  }
  .mobile {
    display: none;
  }
}



@media all and (min-width: 1px) and (max-width: 767px) {
  a.top_nav_button {
    width: 49%;
  }
  body article {
    display: none;
  }
  .mobile {
    display: initial;
  }
  body aside {
    display: none;
  }
  body article, body .mobile {
    width: 100%;
  }
}

.sticky {
  width: 100%;
  z-index: 100;
}

.sticky.fixed {
  position: fixed;
  top: 0px;
  width: 100%;
}