.goods {
  background-color: #F76F87;
  text-align: center;
}

.goods_title {
  font-size: 2em;
  line-height: 2em;
}

.goods_col {
  height: 180px;
  overflow: hidden;
}

.goods_col.image {
  vertical-align: middle;
  line-height: 180px;
}

.goods_col.right p  {
  // line-height: 20px;
}

.goods .row {

}

.top_container {
  min-height: 120px;
}

.top_container_left {
  // background: yellow;
  height: inherit;
  line-height: 100px;
  text-align: center;
  .row {
    padding: 10px;
  }
}

.top_container_center {
  // background: red;
  height: inherit;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 35px;
  text-align: center;
  .row {
    padding: 10px;
  }
}

.top_container_right {
  // background: blue;
  height: inherit;
  .row {
    padding: 10px;
  }
}

.nav.top_buttons_menu {
  width: 100%;
  padding: 0 4%;
  .top_buttons_menu_button {
    width: 9%;
  }
}

.product_form_column {
  input {
    float: right;
  }
}
main {
  article {
    background-color: gray;
    min-height: 100px;
    width: 83%;
    float: right;
    .carousel.slide.multi-item-carousel {
      background: black;
      .col-sm-3.col-xs-3 {
        text-align: center;
      }
      .carousel-control {
        width: 5%;
      }
    }
  }

  aside {
    background-color: yellow;
    min-height: 100px;
    width: 17%;
    float: left;
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
  }
}