<h1>Категории</h1>
<div class="col-md-3 col-sm-6 category-lists">
  <%= render 'sidebar_category' %>
</div>
<div class="col-md-9">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="all_products_div">
        <div id="products">
          <%= render 'all_products' %>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="#0" class="cd-top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
