<div class="col-md-3">
  <div class="category-lists">
    <div class="sticky search_multiple_form">
      <div id="search_multiple_form">
        <%= render  partial: "searches/new" %>
      </div>
    </div>
    <br>
    <%= render 'sidebar_category' %>
  </div>
</div>
<div class="all_products col-md-9">
  <h2>
    <% @category.path.each do |c| %>
      <%= link_to c.name, category_path(c) %> |
    <% end %>
  </h2>
  <%= render 'products' %>
</div>
<a href="#0" class="cd-top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
