<p>Здравствуйте, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Вы получили это письмо так как Ваша контактная почта была изменена <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Вы получили это письмо так как Ваша контактная почта была изменена <%= @resource.email %>.</p>
<% end %>
