<p>Здраствуйте, <%= @resource.email %>!</p>

<p>Кто то запросил сслыку на смену пароля в аккаунте. Вы можете поменять его по ссылке ниже.</p>

<p><%= link_to 'Поменять пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы не запрашивали смену пароля то можете проигнорировать это письмо.</p>
<p>Пароль не будет изменен пока Вы не перейдете по ссылке и не измените его.</p>
