<div class="row">
  <% @products.paginate(page: params[:page], per_page: 12).each do |product| %>
    <div class="col-xs-10 product_view_class">
      <%= render  partial: "products/product", locals: { product: product } %>
      <%= button_to t('products.add_to_cart'), product_line_items_path(product.id), :class => "buttom_add_to_cart", remote: true  %>
    </div>
    <%= render 'modal_window_mobile', product: product %>
  <% end %>
</div>
<div class="row">
  <center>
    <%= will_paginate @products.paginate(page: params[:page], per_page: 12), renderer: BootstrapPagination::Rails, previous_label: '<=', next_label:'=>' %>
  </center>
</div>
