<div class="row">
  <% @products_page.each do |product| %>
    <div class="col-sm-3 product_view_class product_view_class_all">
      <%= render  partial: "products/product", locals: { product: product } %>
      <%= button_to t('products.add_to_cart'), product_line_items_path(product.id), :class => "buttom_add_to_cart", remote: true %>
    </div>
    <%= render 'modal_window', product: product %>
  <% end %>
</div>
<div class="row">
  <center>
    <%= will_paginate @products_page, renderer: BootstrapPagination::Rails, previous_label: '<=', next_label:'=>' %>
  </center>
</div>
