<div class="show_desctop">
  <%= render 'show_product' %>
</div>
<div class="show_mobile">
  <%= render 'show_product_mobile' %>
</div>
<script>
  $("#info-product").click(function(){
    $(".info-about-product").toggle();
  });
  $("#info-product-mobile").click(function(){
    $(".info-about-product-mobile").toggle();
  });
</script>
